<div class="row">
  <h1 id="home-blurb" class="col-xs-12 col-sm-10">
    My name is Malcolm.<br>
    I’m a Fullstack Web Developer and UI/UX Designer.
    I use the latest programming tools like - Ruby on Rails, Javascript,
    and Bootstrap to help individuals, startups & larger companies design,
    build and deploy their next product.
  </h1>
</div>

<div class="row">
  <div class="col-sm-5">
    <h2 id="img-caption">New York City - 2015</h2>
    <%= image_tag("portrait.png", class:"img-responsive") %>
  </div>

  <div class="col-sm-6">
    <h2 id="skills">Skills</h2>
    <div style="margin-top: -10px; background:#333333; height:1px; width:100%; ">
    </div>
  </div>

  <div class="col-sm-3">
    <div id="development-fade">
      <h2 id="development">Development</h2>
      <p class="page-text">I love to collaborate with people to create and build stunning
        sites and applications you can't take your eyes off of. My coding process is guided
        by test driven development to ensure a smooth and consistent app experience.
        My expertise are in both frontend and backend development as well as database setup.
      </p>
    </div>

  </div>

  <div class="col-sm-3">
    <div id="design-fade">
      <h2 id="design">Design</h2>
      <p class="page-text">When you choose to work with me you're buying a high standard
        of design and production. Beautiful, harmonious color choices and typography that works.
        I do handmade grapic work as well. All of the web design layouts I make are responsive
        and work on every screen size and type.
      </p>
    </div>
    </div>
</div>

<div class="row">
  <div class="col-sm-5">
    <div id="about-fade">
      <h2 id="about-me">About Me</h2>
      <p class="page-text">My career as a graphic artist started drawing as a kid.
        I always loved to draw, paint and I always kept a stetch book. As I got older I
        got more serious about approaching art a job. My interest in science also grew
        and eventually led me to computer science. I started with Ruby and expanded
        to testing and front end languages. I'm a lover of music and a 6+ year martial artist.

      </p>
    </div>
  </div>

  <div class="col-sm-3">
    <div id="info-fade">
      <h2 id="info">Info</h2>
      <ul id="info-list">
        <li>Email:<br>Malcolm@silverhand.design</li>
        <li>Twitter:<br>@Ideal_Poster</li>
        <li>Phone:<br>+ 718 624 3381</li>
      </ul>
    </div>
  </div>

  <div class="col-sm-3">

  </div>
</div>
