
<div id="home-blurb" class="col-xs-12 col-sm-10">
  My name is Malcolm.<br>
  I’m a Fullstack Web Developer and UI/UX Designer.
  I use the latest programming tools like - Ruby on Rails, AngularJS,
  and Bootstrap to help individuals, startups & larger companies design,
  build and deploy their next product.
</div>

<div class="col-xs-5">
  <p id="img-caption">Lower East Side - 2015</p>
  <%= image_tag("portrait.png", class:"img-responsive") %>
</div>

<div class="col-xs-6">
  <p id="skills">Skills</p>
</div>

<div class="col-xs-3">
  <h2><span class="skills-header">Design</span></h2>
  <p><span class="skills-text">When you choose to work with me you're buying a high standard of solid
  design, harmonious color and typography that works. All of the web design
  layouts I make are responsive and work on every screen size and type.</span></p>
</div>
<div class="col-xs-3">
  <h2><span class="skills-header">Development</span></h2>
  <p><span class="skills-text">My coding process is guided by test driven development. I use the popular
  testing framework Capybara for front end and RSpec for the backend. I love
  to callaborate with people to create and build stunning sites and applications
  you can't take your eyes off of.</span></p>
</div>
