
<div class="row">
  <div class="col-sm-offset-2 col-sm-8">
    <div id="contact-fade">
      <h1 id="lets-make-something">Let's make something incredible.</h1>
      <p class="description page-text">
        Do you have a web design or technical challenge that needs execution? I love
        to work together with other creative people. Drop me a line.
      </p>
    </div>
  </div>
</div>
<div class="row">
  <%= render 'style_form' %>
</div>
