<div stlye="margin:auto;width:550px;">
  <h1 class="lets-make-something">Let's make something incredible.</h1>
  <p class="description">
    Do you have a web design or technical challenge that needs execution? I love
    to work together with other creative individuals and groups to create visually
    stunning projects that just work. Drop me a line.
  </p>
</div>
<%= render 'style_form' %>
