/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "projects";
 @import "home";
 @import "font-awesome";
 @font-face {
   font-family: 'GreycliffCF';
   src: url('/assets/GreycliffCF-Bold.otf') format("truetype");
 }

 .bg {
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: -1;
   transition: background .28s ease;
 }

a {
  text-decoration: none;
}

 .container {
   margin-top: 110px;
 }

#floater {
  font-size: 10px;
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 50.5px;
  top: 27.414px;
  height: 9px;
  z-index: 7;
}

#hand-logo {
  position: fixed;
  right: 133px;
  top: 28px;
  width: auto;
  height: 50.633px;
  z-index: 8;
}

#silver-hand {
  font-size: 36px;
  font-family: "Greycliff CF";
  font-weight: bold;
  line-height: 0.833;
  position: fixed;
  right: 60px;
  top: 20.298px;
  width: 61px;
  height: 57px;
  z-index: 13;
}

#sidebar {
  position: fixed;
  background-color: transparent;
  height: 100%;
  width: 80px;
  right: 0;
  top: 0;
}

#nav {
  list-style: none;
  right: 15px;
  bottom: 51%;
  height: 155px;
  width: 90px;
 }

#nav li {
  margin-top: 64px;
  font-weight: 100;
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}

#nav li .active, #mobile-menu div .active {
  color: #222222;
}

#nav li a {
  color: #939393;
}

#nav li a:hover {
  text-decoration: none;
  background: none;
  color: #222222;
}

#contact {
  padding-left: 24px;
}

#portfolio {
  padding-left: 4px;
}

#footer {
  background-color: #282828;
  width: 100%;
  min-height: 160px;
  color: #FFFFFF;
  margin-top: 120px;
}

#footer-text {
  margin-top:35px;
  font-size: 14px;
  color: #757575;
  width: 90.5%;
  padding-bottom: 20px;
  border-bottom: 1px solid #757575;
  display: inline-block;
}

#footer .container ul {
  margin-top: 12px;
  margin-left: -40px;
}

#footer .container ul li {
  display: inline-block;
  margin-right: 140px;
  font-size: 15px;
  font-weight: 100;
  font-family: "Greycliff CF";
  letter-spacing: 1px;
}

#footer .container ul li a {
  color: #fdfdfd;
}

#footer .container ul li a:hover {
  color: #6f6f6f;
  background: none;
  text-decoration: none;
}

.greycliff {
  font-family: 'GreycliffCF';
}

@media screen and (min-width: 1200px) {
  #nav li a {
    font-size: 14px;
  }
  .container {
    margin-top: 115px;
  }
}

@media screen and (max-width: 767px) {
  #floater { left: 30px;}
  #footer {
    padding-left: 15px;

  }
  #footer ul {
    width: 300px;
   }
   #footer ul li {
     margin-bottom: 10px;
   }
   #hand-logo {
     height: 45px;
     right: 32px;
     top: 32px;
     position: absolute;
   }

   #mobile-menu {
     margin-bottom: 50px;
   }
}

#mobile-menu {
  width: 100%;
  padding: 0px 16px 0px 16px;
  font-size: 15px;
  font-weight: 500;
  font-family: "Greycliff CF";
  margin-top: 10px;
}

#mobile-menu div a {
  color: #939393;
}

#mobile-menu div a:hover {
  text-decoration: none;
  background: none;
  color: #222222;
}

.right {
  float:right;
  width:100px;
  text-align: right;
}

.left {
  float:left;
  width:100px;
}

.center {
  margin:0 auto;
  width:65px;
  text-align: left;
}
