body:hover > #pages-footer {
  background: #cce0ec;
}

body:hover > .bg-home {
  background: #DDEDF6;
}

body:hover > .logo-pages {
  color: #38467C;
}

body:hover > nav div .navbar-toggle {
  background: #FFFFFF;
}

#img-caption {
  margin-bottom: 14px;
}

#skills {
  border-bottom: 1.8px solid #333333;
  padding-bottom: 14px;
}

#design, #development {
  margin-top: 4px;
}

@media screen and (max-width: 767px) {
  #sidebar { display: none; }
}

@media screen and (min-width: 1200px) {
  #img-caption { margin-bottom: 16px; }
  #skills { padding-bottom: 16px; }

  #design, #development {
    margin-bottom: 10px;
    margin-top: 8px;
  }
}
