body:hover > #footer {
  background: #cce0ec;
}

body:hover > .bg-home {
  background: #DDEDF6;
}

body:hover > .logo-pages {
  color: #38467C;
}

body:hover > nav div .navbar-toggle {
  background: #FFFFFF;
}

#img-caption {
  margin-bottom: 14px;
}

#skills {
  border-bottom: 1.8px solid #333333;
  padding-bottom: 12px;
  margin-bottom: -5px;
}

#design, #development {
  margin-bottom: 13px;
}

@media screen and (max-width: 767px) {
  #sidebar { display: none; }
}

@media screen and (min-width: 1200px) {
  #img-caption{ margin-bottom: 15px; }
  #skills {
    // padding-bottom: 15px;
  }
}
