<% if params[:controller] == 'pages' %>
  <div class="bg bg-home">
  </div>
<% end %>

<% if params[:controller] == 'projects' %>
  <div class="bg bg-projects">
  </div>
<% end %>

<% if params[:controller] == 'contacts' %>
  <div class="bg bg-contacts">
  </div>
<% end %>
