<% if params[:controller] == 'pages' %>
  <div id="bg" class="bg-home">
  </div>
<% end %>

<% if params[:controller] == 'projects' %>
  <div id="bg" class="bg-projects">
  </div>
<% end %>

<% if params[:controller] == 'contacts' %>
  <div id="bg" class="bg-contacts">
  </div>
<% end %>
