<% if params[:controller] == 'pages' %>
  <div class="bg bg-home">
  </div>
<% end %>

<% if params[:controller] == 'projects' %>
  <div class="bg bg-project">
  </div>
<% end %>

<% if params[:controller] == 'contacts' %>
  <div class="bg bg-contact">
  </div>
<% end %>
