<div class="container">
  <div class="row">
    <p id="footer-text">More Silver Hand</p>
    <ul>
      <li class="col-sm-2">
        <a href="https://github.com/Ideal-Poster" target="_blank">
          <%= fa_icon "github", text: "Github" %>
        </a>
      </li>

      <li class="col-sm-2">
        <a href="https://twitter.com/Ideal_Poster" target="_blank">
          <%= fa_icon "twitter", text: "Twitter" %>
        </a>
      </li>

      <li class="col-sm-2">
        <a href="https://www.flickr.com/photos/75437678@N07/" target="_blank">
          <%= fa_icon "flickr", text: "Flickr" %>
        </a>
      </li>
    </ul>
  </div>
</div>
