<% if params[:controller] == 'pages' %>
  <p id="silver-hand" class="logo-pages hidden-xs">silver <br> hand</p>
<% end %>

<% if params[:controller] == 'projects' %>
  <p id="silver-hand" class="logo-projects hidden-xs">silver <br> hand</p>
<% end %>

<% if params[:controller] == 'contacts' %>
  <p id="silver-hand" class="logo-contacts hidden-xs">silver <br> hand</p>
<% end %>
