<% if params[:controller] == 'pages' %>
  <p id="silver-hand" class="logo-pages">silver <br> hand</p>
<% end %>

<% if params[:controller] == 'projects' %>
  <p id="silver-hand" class="logo-projects">silver <br> hand</p>
<% end %>

<% if params[:controller] == 'contacts' %>
  <p id="silver-hand" class="logo-contacts">silver <br> hand</p>
<% end %>
